<!-- header -->
<div class="row" id="header">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar navbar-dark">
      <a class="navbar-brand" href="/" id="nav-title"><i class="fa fa-headphones"></i> 歌单拯救行动</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/search" routerLink="/search">Search</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="/about" routerLink="/about">About</a>
          </li>

        </ul>

        <ul class="navbar-nav">
          <!-- 下拉菜单 -->
          <li class="nav-item active" *ngIf="userInfo?.isLogin">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{userInfo?.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">我收藏的歌单</a>
              <a class="dropdown-item" href="#">歌单管理</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">个人设置</a>
            </div>
          </li>
        </ul>

        <div id="share-icon">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link p-2" href="https://github.com/Amethyst-564" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link p-2" href="https://weibo.com/luvoratorrrrry564" target="_blank">
                <i class="fa fa-weibo"></i>
              </a>
            </li>
          </ul>

        </div>

        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" id="header-login" (click)="onClick()" *ngIf="!userInfo?.isLogin">登陆</button>

        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" id="header-login" (click)="logout()" *ngIf="userInfo?.isLogin">注销</button>
      </div>
    </nav>
  </div>
</div>