<div class="bg"></div>
<div class="container">

  <div class="row" id="mid">
    <div class="col-4" id="login-card">

      <!-- header -->
      <div class="row" id="login-header">
        <h4 id="title">登陆账号，拯救你的歌单</h4>
      </div>

      <!-- mid -->
      <div class="row" id="login-mid">
        <div class="col-10">
          <!-- login-form -->
          <form #loginForm="ngForm" id="login-form">
            <div class="form-group">
              <label for="in_username">用户名：</label>
              <input type="text" class="form-control" id="in_username" [formControl]="in_username" required maxlength="16">
              <div *ngIf="in_username.hasError('required') && in_username.dirty" class="alert alert-primary">
                用户名不能为空
              </div>
              <div *ngIf="in_username.hasError('pattern') && in_username.dirty" class="alert alert-primary">
                用户名不能包含特殊符号
              </div>

              <label for="in_password">密码：</label>
              <input type="password" class="form-control" id="in_password" [formControl]="in_password" required
                maxlength="16">
              <div *ngIf="in_password.hasError('required') && in_password.dirty" class="alert alert-primary">
                密码不能为空
              </div>

            </div>

            <div *ngIf="model.code === 1001 && in_password.value!=''" class="warn">
              密码不正确
            </div>
            <div *ngIf="model.code === 1002 && in_username.value!=''" class="warn">
              用户名不存在
            </div>
            <button type="submit" class="btn" [class.btn-primary]="!in_username.hasError('required') && !in_password.hasError('required')"
              [disabled]="in_username.hasError('required') || in_password.hasError('required')" (click)="login(in_username.value, in_password.value)">登陆</button>

          </form>

          <!-- logon-form -->
          <form #loginForm="ngForm" id="logon-form">
            <div class="form-group">
              <label for="on_username">用户名：</label>
              <input type="text" class="form-control" id="on_username" [formControl]="on_username" required maxlength="16">
              <div *ngIf="on_username.hasError('required') && on_username.dirty" class="alert alert-primary">
                用户名不能为空
              </div>
              <div *ngIf="on_username.hasError('pattern') && on_username.dirty" class="alert alert-primary">
                用户名不能包含特殊符号
              </div>

              <label for="on_password">密码：</label>
              <input type="password" class="form-control" id="on_password" [formControl]="on_password" required
                maxlength="16">
              <div *ngIf="on_password.hasError('required') && on_password.dirty" class="alert alert-primary">
                密码不能为空
              </div>

              <label for="on_ackPassword">确认密码：</label>
              <input type="password" class="form-control" id="on_ackPassword" [formControl]="on_ackPassword" required
                maxlength="16">
              <div *ngIf="on_ackPassword.value != on_password.value && on_ackPassword.dirty && on_password" class="alert alert-primary">
                两次输入密码不一致
              </div>

            </div>

            <div *ngIf="model.code === 1003 && on_username.value!=''" class="warn">
              该用户名已存在
            </div>
            <div *ngIf="model.code === 0 && on_username.value!=''" class="success">
              {{model.msg}}
            </div>
            <button type="submit" class="btn" [class.btn-primary]="!on_username.hasError('required') && !on_password.hasError('required') && !on_ackPassword.hasError('required') && on_ackPassword.value === on_password.value"
              [disabled]="on_username.hasError('required') || on_password.hasError('required') || on_ackPassword.hasError('required') || on_ackPassword.value !== on_password.value"
              (click)="logon(on_username.value, on_password.value)">注册</button>

          </form>
        </div>
      </div>

      <!-- footer -->
      <div class="row" id="footer">
        <div id="footer-content">
          <div id="login-footer">
            没有帐号？ <a href="javascript:void()" (click)="toLogon()"><b>注册</b></a>
          </div>
          <div id="logon-footer">
            已有帐号？ <a href="javascript:void()" (click)="toLogin()"><b>登陆</b></a>
          </div>

        </div>
      </div>


    </div>
  </div>

</div>