<div class="container">
  <!-- header -->
  <app-navbar></app-navbar>
  <!-- content -->
  <div class="row" id="mid">
    <div class="col-3">
      <!-- <form #loginForm="ngForm" id="login-form"> -->
      <form #loginForm="ngForm" id="login-form">
        <div class="form-group">
          <label for="username">username:</label>
          <input type="text" class="form-control" id="username" [formControl]="username" required maxlength="16">
          <div *ngIf="username.hasError('required') && username.dirty" class="alert alert-primary">
            用户名不能为空
          </div>
          <div *ngIf="username.hasError('pattern') && username.dirty" class="alert alert-primary">
            用户名不能包含特殊符号
          </div>

          <label for="password">password:</label>
          <input type="password" class="form-control" id="password" [formControl]="password" required maxlength="16">
          <div *ngIf="password.hasError('required') && password.dirty" class="alert alert-primary">
            密码不能为空
          </div>

        </div>

        <div *ngIf="model.code === 1001 && password.value!=''" class="warn">
          密码不正确
        </div>
        <div *ngIf="model.code === 1002 && username.value!=''" class="warn">
          用户名不存在
        </div>
        <button type="submit" class="btn" [class.btn-primary]="!username.hasError('required') && !password.hasError('required')"
          [disabled]="username.hasError('required') || password.hasError('required')" (click)="login(username.value, password.value)">Login</button>

      </form>
    </div>
  </div>

</div>