@blue: #258DFF;
@green: #15bf81;
@cyan: #72b5ff;
@red: #ff6666;
@gray-600: #a7a8a9;
@gray-300: #dcdfe6;
@secondary: @gray-300;
@gray-200: #f1f3f7;
@gray-400: #c7cbd5;
@gray-500: #acb4c2;
@grid-columns: 12;
@font-size-base: 0.875rem;
@table-cell-padding: 1rem;
@table-accent-bg: fadeout(@blue, 5%);
@table-cell-padding-sm: .75rem;
@table-hover-bg: fadeout(@blue, 8%);
@border-radius: .125rem;
@border-radius-lg: .2rem;
@border-radius-sm: .15rem;
@input-placeholder-color: @gray-400;