@primary: #563d7c;
.left-board {
    margin-top: 2.1rem;
}

.btn-group {
    line-height: 38px;
    padding-top: 20px;
    width: 65%;
}

#right {
    height: 100%;
    overflow-y: auto;
    #table-loading {
        position: absolute;
        top: 45%;
        left: 45%;
    }
    .table {
        margin-top: 2.1rem;
        width: 90%;
        th,
        td {
            vertical-align: middle;
        }
    }
    .modal-body {
        audio::-internal-media-controls-download-button {
            display: none;
        }
    }
}