<div class="container">

    <!-- header -->
    <div class="row" id="header">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar navbar-dark">
                <a class="navbar-brand" href="#" id="nav-title">歌单拯救行动</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Link</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" id="header-login">login</button>
                </div>
            </nav>
        </div>
    </div>

    <!-- mid -->
    <div class="row" id="mid">
        <!-- left -->
        <div class="col-3" id="left">
            <h2>{{listTitle}}</h2>
            <p>Playlist Id: {{listId}}</p>
            <img src="{{listCover}}" alt="Responsive image" >
        </div>

        <!-- right -->
        <div class="col-9" id="right">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">歌曲标题</th>
                        <th scope="col">时长</th>
                        <th scope="col">歌手</th>
                        <th scope="col">专辑</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of tracks">
                        <th scope="row">{{track.id}}</th>
                        <td scope="row">{{track.songTitle}}</td>
                        <td scope="row">{{track.duration}}</td>
                        <td scope="row">{{track.songArtists}}</td>
                        <td scope="row">{{track.album}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>