@import "color.less";
.input-style(@color: @primary) {
    color: #495057;
    background-color: #fff;
    border-color: lighten(@color, 20%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(@color, 0.25);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
}

.cus-theme {
    .form-control {
        &:hover,
        &:focus {
            .input-style();
        }
    } // 修改bootstrap按钮样式
    .btn-primary {
        color: #fff;
        background-color: @primary;
        border-color: @primary;
        &:hover {
            color: #fff;
            background-color: lighten(@primary, 10%);
            border-color: lighten(@primary, 10%);
        }
        &:focus,
        .focus {
            box-shadow: 0 0 0 0.2rem rgba(@primary, 0.5);
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        .show>&.dropdown-toggle {
            color: #fff;
            background-color: @primary;
            border-color: lighten(@primary, 10%);
        }
        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        .show>&.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(@primary, 0.5);
        }
    } // 修改bootstrap提示框样式
    .alert-primary {
        color: @primary;
        background-color: fade(@primary, 35%);
        border-color: fade(@primary, 40%);
        padding: .7rem 1.25rem;
        hr {
            border-top-color: fade(@primary, 40%);
        }
        .alert-link {
            color: fadein(@primary, 10%);
        }
    }
}

.flex-x {
    // x向堆叠
    display: flex;
    align-items: center;
}

.flex-y {
    // y向堆叠
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-xy {
    // 居中
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    width: 80%;
    border: 3px solid rgb(255, 255, 255);
    outline: 1px solid rgba(0, 0, 0, 0.164); // 加入图片上浮动画
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    &:hover {
        transform: translateY(-5px);
    } // 加载前样式
    &:before {
        content: "\f005" " " attr(alt);
        font-weight: 900;
        font-size: 16px;
        font-family: 'Font Awesome\ 5 Free';
        color: rgb(100, 100, 100);
        display: block;
        position: absolute;
        z-index: 2;
        background-color: #fff;
    }
}
.table {
    // 固定表格布局
    table-layout: fixed;
    margin-top: 2.1rem;
    thead {
        th {
            border-top: 0;
            // 添加圆角
            &:first-child {
                border-radius: .25rem 0 0 0;
            }
            &:last-child {
                border-radius: 0 .25rem 0 0;
            }
        }
    }
    tbody {
        .wrap {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.left-board {
    z-index: 1000;
    border-right: 1px solid rgba(0, 0, 0, .07);
    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    #buttons {
        margin-top: 20px;
        button {
            margin: 0 10px;
        }
    }
}
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-primary {
    border-left-color: @primary;
}

.bd-callout-blue {
    border-left-color: @blue;
}

.bd-callout-red {
    border-left-color: @red;
}

.bd-callout-lime {
    border-left-color: @lime;
}

.bd-callout-orange {
    border-left-color: @orange;
}

.bd-callout-deep-orange {
    border-left-color: @deep-orange;
}

// -webkit-scrollbar
// 内层轨道
::-webkit-scrollbar-track-piece {
    background-color: #dddddd;
}

// 整体
::-webkit-scrollbar {
    width: 8px;
}

// 小滑块
::-webkit-scrollbar-thumb {
    height: 50px;
    background: @primary;
    &:hover {
        background: lighten(@primary, 10%);
    }
}