@import "color.less";
.input-style(@color: @primary) {
    color: #495057;
    background-color: #fff;
    border-color: lighten(@color, 20%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(@color, 0.25);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
}

.cus-theme {
    .form-control {
        &:hover,
        &:focus {
            .input-style();
        }
    } // 修改bootstrap按钮样式
    .btn-primary {
        color: #fff;
        background-color: @primary;
        border-color: @primary;
        &:hover {
            color: #fff;
            background-color: lighten(@primary, 10%);
            border-color: lighten(@primary, 10%);
        }
        &:focus,
        .focus {
            box-shadow: 0 0 0 0.2rem rgba(@primary, 0.5);
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        .show>&.dropdown-toggle {
            color: #fff;
            background-color: @primary;
            border-color: lighten(@primary, 10%);
        }
        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        .show>&.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(@primary, 0.5);
        }
    } // 修改bootstrap提示框样式
    .alert-primary {
        color: @primary;
        background-color: fade(@primary, 35%);
        border-color: fade(@primary, 40%);
        padding: .7rem 1.25rem;
        hr {
            border-top-color: fade(@primary, 40%);
        }
        .alert-link {
            color: fadein(@primary, 10%);
        }
    }
}

.flex-x {
    // x向堆叠
    display: flex;
    align-items: center;
}

.flex-y {
    // y向堆叠
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-xy {
    // 居中
    display: flex;
    align-items: center;
    justify-content: center;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-primary {
    border-left-color: @primary;
}

.bd-callout-blue {
    border-left-color: @blue;
}

.bd-callout-red {
    border-left-color: @red;
}

.bd-callout-lime {
    border-left-color: @lime;
}

.bd-callout-orange {
    border-left-color: @orange;
}

.bd-callout-deep-orange {
    border-left-color: @deep-orange;
}

// -webkit-scrollbar
// 内层轨道
::-webkit-scrollbar-track-piece {
    background-color: #dddddd;
}

// 整体
::-webkit-scrollbar {
    width: 8px;
}

// 小滑块
::-webkit-scrollbar-thumb {
    height: 50px;
    background: @primary;
    &:hover {
        background: lighten(@primary, 10%);
    }
}